<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Access For All</title>

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

		<!-- <link rel="icon" href="img/favicon.ico"> -->
		<!-- CSS/JS FILES -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

		{{ require('app/application/theme.php') }}

	</head>
	<body>
		<div id="site_main_menu" class="ui fixed menu">
			<div class="ui container">
				<a href="/" class="header item">
					<!-- <img class="logo" src="assets/images/logo.png"> -->
					Access For All
				</a>
				{{ (require('app/application/menu.php')) == -1 ? '' : '' }}
				<div class="right menu">
				    <!-- <div class="item">
				      	<div class="ui icon input">
				        	<input type="text" placeholder="Search...">
				        	<i class="search link icon"></i>
				      	</div>
				    </div> -->
					<check if="{{ @SESSION.user }}">
						<true>
							<div class="ui simple dropdown item">
								{{ @SESSION.user['display_name'] }} <i class="dropdown icon"></i>
								<div class="menu">
									<a class="item" href="/auth/logout">Log Out</a>
								</div>
							</div>
						</true>
						<false>
							<a href="/auth" class="ui item">
						      	Login/Register
						    </a>
						</false>
					</check>

				</div>
			</div>
		</div>
		<div id="site_main_container" class="ui container">
			<check if="{{ @site_error }}">
				<div class="ui red message"><h1 class="title">THERE WAS AN ERROR</h1><i class="close icon"></i><br>{{ @site_error }}</div>
			</check>
			<include href="{{ @content }}" />
		</div>
	</body>

</html>

<script>
	$(document).ready(function() {
		//adjust main window offset just in case the top menu is somehow bigger or smaller.
		$('#site_main_container').css('margin-top', $('#site_main_menu').outerHeight() + 'px');
	});
</script>
